################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/pruebaerni/.vs/pruebaerni/DesignTimeBuild
/pruebaerni/pruebaerni/bin/Debug/net6.0/pruebaerni.dll
/pruebaerni/pruebaerni/bin/Debug/net6.0/pruebaerni.pdb
/pruebaerni/pruebaerni/obj/Debug/net6.0/pruebaerni.dll
/pruebaerni/pruebaerni/obj/Debug/net6.0/pruebaerni.pdb
/pruebaerni/.vs/pruebaerni/v17/.suo
/pruebaerni/.vs/pruebaerni/FileContentIndex/a86d7a75-0462-4a41-bb4a-250b52181658.vsidx
/pruebaerni/.vs/pruebaerni/FileContentIndex/8d97885c-9954-4a7a-8487-d4cfa3497471.vsidx
/pruebaerni/pruebaerni/obj/Debug/net6.0/ref/pruebaerni.dll
/pruebaerni/pruebaerni/obj/Debug/net6.0/refint/pruebaerni.dll
/pruebaerni/.vs/pruebaerni/FileContentIndex
/pruebaerni/pruebaerni/obj/Debug/net6.0/pruebaerni.csproj.CoreCompileInputs.cache
