################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/pruebaerni/.vs/pruebaerni/DesignTimeBuild
